[user]
	name = cupen
	email = xcupen@gmail.com

[push]
	default = current

[url "ssh://git@github.com/"]
	insteadOf = https://github.com/

[init]
	defaultBranch = master

[diff "ansible-vault"]
    # command = /usr/bin/ansible-vault view 
    textconv = "/usr/bin/ansible-vault view"
	cachetextconv = false

[merge "ansible-vault"]
	name = ansible-vault merge driver
	driver = /usr/local/bin/ansible-vault-merge -- %O %A %B %P

[diff "words"]
	textconv=echo 
	cachetextconv = false

[alias]
	logs = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --all --date=short

[core]
	quotepath = false
